stages:
  - build
  - tag_and_push
  - deploy

variables:
  AWS_REGION: "eu-north-1"
  ECR_REGISTRY: "160885294916.dkr.ecr.eu-north-1.amazonaws.com"
  ECR_REPO: "nodejs-app"

before_script:
  # Login to ECR (required for every job)
  - aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY

build_docker_image:
  stage: build
  script:
    - echo "Building Docker image for commit:$CI_COMMIT_SHORT_SHA"
    - docker build -t myapp:build .
  tags:
    - shell

tag_and_push_docker_image:
  stage: tag_and_push
  script:
    - export IMAGE_TAG=$CI_COMMIT_SHORT_SHA
    - echo "Tagging image as:$IMAGE_TAG"

    # Tag only commit-tagged image 
    - docker tag myapp:build $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG

    # Push commit-tagged image
    - docker push $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG
  tags:
    - shell

deploy_to_production:
  stage: deploy
  script:
    - export IMAGE_TAG=$CI_COMMIT_SHORT_SHA
    - echo "Deploying version:$IMAGE_TAG"

    # Stop and remove old container (safe cleanup)
    - docker stop nodejs-app || true
    - docker rm nodejs-app || true

    # Pull commit-tagged image
    - docker pull $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG

    # Run new container with commit ID
    - docker run -d -p 3000:3000 --name nodejs-app \
      $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG
  tags:
    - shell
